body{
	background-image: url("../img/image-projet.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
}
.nav-area{
	width: 800px;
	height: 80px;
	background:#777;
	text-align: center;
	margin:40px auto;
	position: relative;
	box-sizing: border-box;
	font-family: roboto;
	box-shadow: 0 0 2px #000;
}
.nav-area:before{
	position: absolute;
	content: '';
	right: -25px;
	top: 25px;
	border-top: 25px solid transparent;
	border-right: 25px solid transparent ;
	border-bottom: 25px solid transparent;
	border-left: 25px solid #333;
	z-index: -1;
}
.nav-area:after{
	position: absolute;
	content: '';
	left: -25px;
	top: 25px;
	border-top: 25px solid transparent;
	border-right: 25px solid #333;
	border-bottom: 25px solid transparent;
	border-left: 25px solid transparent;
	z-index: -1;
}
.side-one{
	position: absolute;
	border-top: 25px solid #777;
	border-right: 50px solid #777;
	border-bottom: 25px solid #777;
	border-left: 25px solid transparent;
	top: 25px;
	left: -50px;
	z-index: -3;
}
.side-two{
	position: absolute;
	border-top: 25px solid #777;
	border-right: 25px solid transparent;
	border-bottom: 25px solid #777;
	border-left: 50px solid #777;
	top: 38px;
	right: -55px;
	z-index: -3;
}
.nav-area a{
	text-decoration: none;
	font-family: big jhon;
	color: #fff;
	padding: 5px 30px;
	margin-top: 0px; 
	line-height: 3.1;
}
.nav-area a:hover{
	background:#262626;
}
.banner-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.banner-text h2{
	font-family: big jhon;
	font-size: 65px;
	color: #00ffea;
	margin: 0;
}
.banner-text p{
	font-family: roboto;
	font-size: 18px;
	color: #94a4b3;
}
.banner-text button{
	background:#000;
	border:none;
	color: #fff;
	padding: 15px 40px;
	font-family: big jhon;
}